* {
	margin: 0px;
	padding: 0px;
}

h1,h2,h3,h4,h5,h6 {
    font-family: Abril Fatface;
    text-align: center;
    color: 	#9A3412;
}

p {
    font-family: Poppins;
}

.for_table, .for_td_1, .for_td_2, .for_td_3, .for_td_4, .for_td_dop, .for_td_2_sec, .for_td_1_sec, .for_td_5, .for_td_6 {
        border: 1px solid black;
        border-collapse: collapse;
        margin: 0 auto;
}

.for_table th,
    .for_table td {
        border: 1px solid #9A3412;
    }

.for_table {
    width: 50%;
    border-collapse: collapse;
}

.for_table tr:nth-child(even){
    background-color: #FFF7ED;
}

.for_td_1 {
    text-align: center;
}

.for_td_2 {
    text-align: left;
}

.for_td_3 {
    text-align: center;
}

.for_td_4 {
    text-align: center;
}

.for_td_5 {
    text-align: center;
}

.for_td_6 {
    text-align: left;
}

.for_td_1_sec {
    padding: 10px;
    padding-right: 100px;
    padding-left: 100px;
    text-align: center;
}

.for_td_2_sec {
    padding: 10px;
    padding-right: 100px;
    text-align: left;
}

.for_td_dop {
    text-align: center;
}

.navigation {
    text-align: center;
    padding-inline-start: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.navigation li {
    display: inline;
    padding-right: 20px;
}

.navigation a {
    color: black;
    text-decoration: none;
    border: 2px solid black;
    padding: 5px;
}

.photo {
    text-align: center;
}

.subtitle {
    font-size: 20px;
    text-align: center;
}

.list {
    list-style-type: none;
}

header {
	height: 350px;
	background-color:#FFF7ED;
}
header h1 {
	padding-top: 150px;
	margin-top: 0px;
}
.container {
	max-width: 900px;
	margin: 0 auto;
	padding: 20px;
}
footer {
	padding: 20px;
}
.authors	{
	vertical-align: top;
	display: inline-block;
	width: 15%;
	margin: 15px;
}
.authors img {
	object-fit: cover;
	width:100%;
	height: 80%;
}
.form {
	margin: 0 auto;
	padding: 20px;
}
.form h2 {
	margin: 20px;
}
#form_container{
	margin: 0 auto;
	width: 50%;
	border: 2px solid #9A3412;
	padding: 10px;

}
#radio_input {
	margin: 10px;
}
#range_input {
	margin: 10px;
}
#checkbox_input {
	margin: 10px;
}
#button_input {
	background-color: #FFF7ED;
	border: 1px solid #9A3412;
	margin: 10px;
	width: 80px;
	height: 30px;
}
form p {
	margin: 5px;
	text-align: center;
	color: #9A3412;
}
#output_label {
	border: 1px solid black;
}